.container{
    display: inline;
    align-items: center;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_back{
    display: inline;
    color: #fff;
    background: #d22000;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5%;
}

.button_check{
    cursor: pointer;
    margin-left: 93%;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
    gap: 25px;
}