.container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 35px;
    color: #fff;
    background: #d22000;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 93%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image-upload-container{
    border: 2px;
    border-radius: 5px;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    background: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.img-display-after{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.img-display-before{
    height: 200px;
    width: 200px;
}
